<div class="centred">
  <tui-island
    size="l"
    textAlign="center">
    <div class="tui-island__content">
      <form>
        <h2>Настройки Museum</h2>
        <label tuiLabel="Включить приложение">
          <tui-toggle
            formControlName="testValue5"
            size="l"
            [showIcons]="true"
          ></tui-toggle>
        </label>

        <tui-select
          class="mt"
          tuiTextfieldSize="l"
          [formControl]="testValue">
          Интервал смены картины
          <input
            tuiTextfield
            placeholder="Choose your hero"
          />
          <tui-data-list-wrapper
            *tuiDataList
            [items]="items"
          ></tui-data-list-wrapper>
        </tui-select>

        <button
          class="tui-island__footer-button"
          tuiButton
          appearance="flat"
          type="button">Сохранить</button>
      </form>
    </div>
  </tui-island>
</div>
