<div class="centred">
  <tui-island
    size="l">
    <div class="tui-island__content">
      <form [formGroup]="configurationGroup">
        <h2>Настройки Museum</h2>
          <div class="make-row">
            <label
              class="label-custom"
              tuiLabel="Включить приложение:">
            </label>
            <tui-toggle
              formControlName="enabledCarousel"
              size="l"
              [showIcons]="true"
              [tuiHint]="enableApp"
              tuiHintDirection="right-top"
            ></tui-toggle>
            <ng-template #enableApp>
              <div>Когда приложение будет</div>
              <div>включено, ваши обои начнут</div>
              <div>меняться с указаной периодичность</div>
            </ng-template>
          </div>
        <tui-select
          class="mt"
          tuiTextfieldSize="l"
          formControlName="changeInterval"
          [valueContent]="itemContent">
          Интервал смены картины
          <input
            tuiTextfield
            placeholder="Выберите интервал"
          />
          <tui-data-list-wrapper
            *tuiDataList
            [items]="changeIntervals"
            [itemContent]="itemContent"
          ></tui-data-list-wrapper>
        </tui-select>

        <ng-template #itemContent let-item>
          {{getUiName(item)}}
        </ng-template>

        <button
          (click)="saveConfiguration()"
          class="tui-island__footer-button"
          tuiButton
          type="button">Сохранить</button>
      </form>
    </div>
  </tui-island>
</div>
