<div class="container height-100">
  <div class="tui-row cont">
<!--    <tui-island>-->
<!--      <p class="tui-island__category">Изобразительное искусство</p>-->
<!--      <h3 class="tui-island__title">Клод Моне</h3>-->
<!--      <p class="tui-island__paragraph custom-font">-->
<!--        Моне работал над этой картиной в 1872—1873 годах, когда жил в предместье Парижа Аржантёе вместе со своей семьёй. Две фигуры у нижнего правого угла уравновешиваются двумя аналогичными фигурами в противоположной части картины. Молодая женщина с зонтом и мальчик в шляпе — жена художника Камилла и его старший сын Жан.-->
<!--      </p>-->
<!--      <img class="image" src="./assets/paintings/painting2.jpg">-->
<!--    </tui-island>-->
<!--    <tui-island>-->
<!--      <p class="tui-island__category">Изобразительное искусство</p>-->
<!--      <h3 class="tui-island__title">Винсент Ван Гог</h3>-->
<!--      <p class="tui-island__paragraph custom-font">-->
<!--          «Прогулка заключённых» символизирует жизнь, подобную, по мнению художника, замкнутому кругу. Центральная фигура на переднем плане наиболее индивидуализирована в отличие от других заключённых, чьи лица написаны лишь несколькими мазками. В этом персонаже угадываются черты самого Ван Гога.-->
<!--      </p>-->
<!--      <img class="image" src="./assets/paintings/painting1.jpg">-->
<!--    </tui-island>-->
  </div>
</div>
